[Unit]
Description = netdump service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi
ExecStart=/bin/sh /home/pi/npsanalyzer/netdump.sh

[Install]
WantedBy = multi-user.target
